
@{
    ViewData["Title"] = "Prueba";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valet</title>
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>
    <div class="Page">
        <div class="Section1">
            <div class="Fila1">
                <header class="LogoHeader">
                    <img src="images/LogoHeader.jpg" alt="">
                </header>


                <h1 class="Ticket">1117</h1>
            </div>

            <div class="Fila2">
                <p class="Date">DEC 16, 2019</p>
            </div>

            <div class="Fila3">
                <h2 class="Price">$80.00</h2>


                <input class="Button" type="button" value="CLICK TO PAY">
            </div>


            <div class="Fila4">

                <p>9:10 PM</p>
                <p>COMMUNITY BUILDING ENTERPRISES</p>

            </div>
        </div>
        <div class="linea"></div>

        <div class="Section2">

            <h1 class="Instruction">PLEASE SHOW THIS PAGE TO THE VALET</h1>

            <div>
                <h2 class="Empleado">Carlos Daniel Escalante Mendez</h2>
            </div>



            <div class="Car">
                <span><img src="images/Auto.jpg" alt=""></span>
            </div>
            <div class="Bar">

                <ul class="StatusBar">
                    <li class="REQUESTED">REQUESTED</li>
                    <li class="ONTHEWAY">ON THE WAY</li>
                    <li class="READY">READY</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="Section3">

        <div class="Fila5">
            <h1>ANUNCIE AQUI </h1>
            <h4>PARA MÁS INFO HAGA CLICK O LLAME</h4>
        </div>

        <div class="Fila6">
            <p> 52. 555 2789 5428 <br> TARGETADNETWORK.COM</p>
        </div>
        <div class="LogoFooter">
            <span><img src="images/LogoFooter.jpg" alt=""></span>
        </div>

    </div>

</body>
</html>

